{% extends "base.html.twig" %}

{% block body %}
    <section class="about-body">
        <h2 class="about-body">About us</h2>
        <p>
            Lorem ipsum dolor sit amet. Ea quis doloribus sit doloremque animi quo dolor voluptates est placeat nesciunt
            ut pariatur autem qui reiciendis neque eum beatae quia. Qui eligendi tenetur hic voluptatem quos vel consectetur
            modi et neque asperiores et labore quas sit quisquam vero et deleniti eveniet. Et maxime galisum est unde amet ex quasi quam
            quo quia libero.
        </p>
        <p>
            Ut voluptas omnis et ullam consequuntur et ducimus obcaecati aut quod fugiat aut enim architecto et sapiente eligendi et explicabo
            aspernatur. Id voluptatem quam non earum beatae rem minima illum eum nobis mollitia aut laboriosam eius et ipsum repudiandae nam
            totam tempore! Est minus nihil ex aliquam voluptates sed voluptatum velit qui quia quas non blanditiis optio ut consequatur nisi.
        </p>
        <p>

            Aut fugit nobis est molestiae pariatur et rerum possimus non eaque ratione sed dolor perspiciatis.
            Qui nemo consequatur et laboriosam enim ex molestiae dolorem et amet eligendi.
        </p>
    </section>
{% endblock %}

{% block title %}
    {{ parent()}}/à-propos
{% endblock %}
