{% extends "base.html.twig" %}

{% block body %}
    <section class="about-body">
        <h2>About us</h2>
        <p>
            Lorem ipsum dolor sit amet. Et deserunt reiciendis in omnis ipsum et incidunt numquam
            ut ipsa autem. Et aspernatur sapiente qui voluptatem quidem ex iste unde in aliquid officia eum
            nobis veniam qui excepturi exercitationem est accusantium reprehenderit.
        </p>
        <p>
            Est magnam magnam eum facere magnam eos eaque laudantium eos modi quidem sed dolor iste
            non nostrum natus. Sed quas quis ut quibusdam ullam ut voluptatem quia.
        </p>
        <p>
            Qui laborum totam et nihil inventore nam omnis iste eos deserunt blanditiis et iusto totam? Non
            sint atque qui voluptatem harum et consequatur mollitia. Non sapiente voluptatem est recusandae
            iure qui enim sapiente.
        </p>
        <p>
            Eum doloremque architecto qui adipisci odit qui distinctio harum quo vero voluptate aut nesciunt
            quam qui veniam ipsam. Et voluptatibus modi qui mollitia recusandae aut repellendus molestiae.
        </p>

        <p>
            Lorem ipsum dolor sit amet. Et deserunt reiciendis in omnis ipsum et incidunt numquam
            ut ipsa autem. Et aspernatur sapiente qui voluptatem quidem ex iste unde in aliquid officia eum
            nobis veniam qui excepturi exercitationem est accusantium reprehenderit.
        </p>
        <p>
            Est magnam magnam eum facere magnam eos eaque laudantium eos modi quidem sed dolor iste
            non nostrum natus. Sed quas quis ut quibusdam ullam ut voluptatem quia.
        </p>
        <p>
            Lorem ipsum dolor sit amet. Et deserunt reiciendis in omnis ipsum et incidunt numquam
            ut ipsa autem. Et aspernatur sapiente qui voluptatem quidem ex iste unde in aliquid officia eum
            nobis veniam qui excepturi exercitationem est accusantium reprehenderit.
        </p>
        <p>
            Est magnam magnam eum facere magnam eos eaque laudantium eos modi quidem sed dolor iste
            non nostrum natus. Sed quas quis ut quibusdam ullam ut voluptatem quia.
        </p>
        <p>
            Lorem ipsum dolor sit amet. Et deserunt reiciendis in omnis ipsum et incidunt numquam
            ut ipsa autem. Et aspernatur sapiente qui voluptatem quidem ex iste unde in aliquid officia eum
            nobis veniam qui excepturi exercitationem est accusantium reprehenderit.
        </p>
    </section>
{% endblock %}

{% block title %}
    {{ parent()}}/à-propos
{% endblock %}
