{% extends "base.html.twig" %}

{% block body %}
    <p class="about-body">Bienvenue sur la page d'accueil de l'application Bucket-list</p>
{% endblock %}
{% block title %}
    {{ parent()}}
{% endblock %}


