{% extends "base.html.twig" %}

{% block body %}
    {% form_theme wishForm 'bootstrap_5_layout.html.twig' %}

    <section class="about-body">
            {% embed 'wish/form/wish-form.html.twig' %}
                {% block formTitle %}Add a wish{% endblock %}
                {% block buttonLabel %}Add{% endblock %}
            {% endembed %}
    </section>

{% endblock %}