{% extends "base.html.twig" %}

{% block body %}
    <section class="about-body">
        <h2>Liste des choses à faire</h2>
    </section>
{% endblock %}

{% block title %}
    {{ parent()}}/souhaits
{% endblock %}