{% extends "base.html.twig" %}

{% block body %}
    <section class="about-body">
        <h2>Liste des choses à faire</h2>

        {% for category in categories %}
            <h3>{{ category.name }}</h3>
            <ul class="wish-list">
                {% for wish in category.wishes %}
                    <li>
                        <a href="{{ path('wish_detail', {'id': wish.id}) }}">
                            {{ wish.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    {{ parent() }}/souhaits
{% endblock %}