* {
    padding: 0;
    margin: 0;
}

body {
    background-color: skyblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    flex: 1;
}

ul {
    list-style: none;
}

footer {
    width: 100%;
    text-align: center;
}

header, footer {
    background-color: rgba(0,0,0,0.1);
}

header,
footer {
    padding: 2rem 0 2rem 0;
}

.about-body {
    padding: 2rem;
}

.wish-list {
    margin-top: 2rem;
}

.wish-list li {
    padding: 1rem;
}

.wish-list li a {
    font-size: 16px;
}

.detail-element {
    padding: 1rem;
}

.form_error, .form_label {
    color: red;
}


.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: #132135;
}

.flash-success {
    background-color: #1a5c18
}

.flash-error {
    background-color: red
}


.a-link {
    display: flex;
    justify-content: space-around;
}

.a-link p a button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
}

.about-body .about-body {
    text-align: center;
}