<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_aboutUs') }}">About us</a></li>
        <li><a href="{{ path('wish_list') }}">Souhaits</a></li>
        <li><a href="{{ path('wish_add') }}">Ajouter</a></li>
    </ul>
</nav>