<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_aboutUs') }}">About us</a></li>
        <li><a href="{{ path('wishlist') }}">À faire</a></li>
    </ul>
</nav>